<div class="card-body" >
    <ul class="items-list">
      <li >
        <i class="material-symbols-outlined" 
           style="float: right;margin-right: 50px;"
           (click)="onDelete(experiencia)"
           >
           <div class="close">close</div>
          </i>
          <div class="cuadro">
       <h4 class="card-title">{{experiencia.nombreEmpresa}} <img src="">logo
        <i  class="material-symbols-outlined" style="position: absolute;left: 50%;">
          <div class="edit">edit</div>
          </i>   
      </h4>
      
      <p class="card-text" style="color: grey;">{{experiencia.descripcion}}</p>
      <b>Desde: </b><time datetime="" style="color: grey;">{{experiencia.desde}}</time>
      <b> Hasta: </b><time datetime=""style="color: grey">{{experiencia.hasta}}</time>  
          </div>
      </li>
    
  </ul>
  </div>
