<div class="card text-white bg-primary mb-3" style="max-width: 75rem; margin-left: 60px; margin-top: 1px;">
    <div class="card-header">Educacion
      <app-botones color="grey" ></app-botones>
    </div>
    <div class="card-body">
      <h4 class="card-title">Titulo </h4>
      <p class="card-text">Nombre de instituto<img src="" style="padding-left: 120px;">logo</p>
      <p>Estado</p>
      <b>Desde: </b><time datetime="" style="color: grey;">YYYY-MM</time>
      <b> Hasta: </b><time datetime=""style="color: grey">YYYY-MM</time>
    </div>
  </div>