fa-icon{
    margin: 0 10px;
    width: 50 px;
    height: 50 px;
    text-align: center;
    line-height: 30 px;
    background: #000;
    border-radius: 100%;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 5 px rgba(0,0,0,0.3 );
}
fa-icon.icon1:hover{
    background: #0e76a8;
}
fa-icon.icon2:hover{
    background: #c9510c;
}
.banner{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}