
    <div class="card-body">
      
      
      <ul class="items-list">
        <li> 
          <h4 class="card-title">{{educa.titulo}}
            <i  class="material-symbols-outlined" style="position: absolute;left: 50%; color: orange ;">
            edit
            </i>
            <i class="material-symbols-outlined" 
               style="float: right;margin-right: 50px; color: red;" 
               (click)="onDelete(educa)"
            >
            close
            </i>
          </h4> 

          <p class="card-text">{{educa.nombreInstituto}}<img src="" style="padding-left: 120px;">logo</p>
          <p>{{educa.estado}}</p>
          <b>Desde: </b><time datetime="" style="color: grey;">{{educa.desde}}</time>
          <b> Hasta: </b><time datetime=""style="color: grey">{{educa.hasta}}</time>
        </li>  
      </ul>
    </div>
