<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label form="text">Nombre</label>
        <input 
            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="Add nombre"
            [(ngModel)]="nombre"
        />
    </div>
    <div class="form-control">
        <label form="text">descripcion</label>
        <input 
            type="text" 
            name="descripcion" 
            id="descripcion" 
            placeholder="Add descripcion"
            [(ngModel)]="descripcion"
        />
    </div>
    <div class="form-control">
        <label form="text">logo</label>
        <input 
            type="text" 
            name="logo" 
            id="logo" 
            placeholder="Add logo"
            [(ngModel)]="logo"
        />
    </div>
    <div class="form-control">
        <label form="text">estado</label>
        <input 
            type="checkbox" 
            name="estado" 
            id="estado" 
            placeholder="Add estado"
            [(ngModel)]="estado"
        />
    </div>
    <div class="form-control">
        <label form="text">desde</label>
        <input 
            type="text" 
            name="desde" 
            id="desde" 
            placeholder="Add desde"
            [(ngModel)]="desde"
        />
    </div>
    <div class="form-control">
        <label form="text">hasta</label>
        <input 
            type="text" 
            name="hasta" 
            id="hasta" 
            placeholder="Add hasta"
            [(ngModel)]="hasta"
        />
    </div>
    <input type="submit" value="Save Experiencias">
</form>

