<div class="card text-white bg-dark mb-3" style="max-width: 75rem; margin-left: 60px;">
    <div class="card-header">Experiencias
      <app-botones color="grey" ></app-botones>
    </div>
    <div class="card-body">
      <h4 class="card-title">Nombre empresa <img src="" style="padding-left: 120px;">logo
        <i  class="material-symbols-outlined" style="margin-left: 21%; color: orange ;">
          edit
          </i>
          <i class="material-symbols-outlined" style="float: right;margin-right: 50px; color: red;">
          close
          </i>
          
      </h4>
      
      <p class="card-text" style="color: grey;">Descripcion del trabajo</p>
      <b>Desde: </b><time datetime="" style="color: grey;">YYYY-MM</time>
      <b> Hasta: </b><time datetime=""style="color: grey">YYYY-MM</time>
      
    </div>
  </div>