
     
        
            <div class="tarjeta" >
              <i  class="material-symbols-outlined" 
                  style="float: left;margin-top: 5px;margin-left: 5px;">
                <div class="edit"> edit</div>
                </i>
                <i class="material-symbols-outlined" 
                   style="float: right;margin-top: 5px;margin-right: 5px ;"
                   (click)="onDelete(skill)"
                >
                <div class="close">close</div>
                </i>
            <circle-progress style="display: flex;align-content: center; justify-content: center"
            [percent]=skill.porcentaje
            ></circle-progress>
            <h4 style="display: flex; align-content: center; justify-content: center;">{{skill.nombre}}</h4>         
          </div>
          
         
          
        
 


