
<div class="card text-white bg-secondary mb-3"  style="max-width: 75rem; margin-left: 60px;">
    <div class="card-header">Hard and soft skill
      <app-botones color="grey" ></app-botones>
    </div>
  <div class="card-body">
        <h4 class="card-title">Hard skill</h4>   
     
        <div class="row">
          
          <div class="col-sm-6 col-md-3">
            <div class="tarjeta">
              <i  class="material-symbols-outlined" style="float: left;margin-top: 5px;margin-left: 5px; color: orange ;">
                edit
                </i>
                <i class="material-symbols-outlined" style="float: right;margin-top: 5px;margin-right: 5px ;color: red;">
                close
                </i>
            <circle-progress style="display: flex;align-content: center; justify-content: center"
            [percent]="30"
            ></circle-progress>
            <h4 style="display: flex; align-content: center; justify-content: center;">One</h4>         
          </div>
          </div>
          <div class="col-sm-6 col-md-3">
            <circle-progress
            [percent]="30"
            ></circle-progress>
            2          
          </div>
          <div class="col-sm-6 col-md-3">
            <circle-progress
            [percent]="30"
            ></circle-progress>
            3          
          </div>
          <div class="col-sm-6 col-md-3">
            <circle-progress
            [percent]="30"
            ></circle-progress>
            4           
          </div>
          <div class="col-sm-6 col-md-3">
            <circle-progress
            [percent]="60"
            ></circle-progress>
            5           
          </div>
        </div>
      
    
    
        <h4 class="card-title">Soft skill</h4>  
  </div>
</div>