
<div class="card text-white bg-secondary mb-3"  style="max-width: 75rem; margin-left: 60px;">
    <div class="card-header">Hard and soft skill</div>
    <div class="card-body">
      <h4 class="card-title">Hard skill</h4>   
      <circle-progress
  [percent]="30"
  [radius]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="300"
></circle-progress>  
<h4 class="card-title">Soft skill</h4>  
    </div>
  </div>