<div class="formulario">
    <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Formulario alta</div>
    
        
            <form class="add-form" (ngSubmit)="onSubmit()">
                <div class="form-control" style="background-color: grey;">
                    <div class="form-group">
                    <label form="text">Titulo</label><br>
                    <input 
                        type="text" 
                        name="titulo" 
                        id="titulo" 
                        placeholder="Add titulo"
                        [(ngModel)]="titulo"
                    /><br>
                </div>
                <div class="form-group">
                    <label form="text">Nombre de Instituto</label><br>
                    <input 
                        type="text" 
                        name="nombreInstituto" 
                        id="nombreInstituto" 
                        placeholder="Add nombre de Instituto"
                        [(ngModel)]="nombreInstituto"
                    /><br>
                </div>
               
                <div class="form-group">
                    <label form="text">Logo</label><br>
                    <input 
                        type="text" 
                        name="urlLogo" 
                        id="urlLogo" 
                        placeholder="Add url logo"
                        [(ngModel)]="urlLogo"
                    /><br>
                </div>
                <div class="form-group">
                    <label form="text">Cursando</label><br>
                    <input 
                        type="checkbox" 
                        name="estado" 
                        id="estado" 
                        placeholder="Add estado"
                        [(ngModel)]="estado"
                    />
                </div>
                <div class="form-group">
                    <label form="text">Desde</label><br>
                    <input 
                        type="date" 
                        name="desde" 
                        id="desde" 
                        placeholder="Add desde"
                        [(ngModel)]="desde"
                    /><br>
                </div>
                <div class="form-group">
                    <label form="text">Hasta</label><br>
                    <input 
                        type="date" 
                        name="hasta" 
                        id="hasta" 
                        placeholder="Add hasta"
                        [(ngModel)]="hasta"
                    /><br>
                </div>
                <input type="submit" value="Save Educacion"class="btn btn-outline-success" style="margin-top: 10px;" >
                </div>
            </form>
            
    </div>
</div>
 

