<div class="card-body">
    <h4 class="card-title">{{proyecto.nombre}}
      <i  class="material-symbols-outlined" 
          style="position: absolute;left: 50%;"
          >
        <div class="edit">edit</div>
        </i>
        <i class="material-symbols-outlined" 
            style="float: right;margin-right: 50px;"
            (click)="onDelete(proyecto)"
        >
        <div class="close">close</div>
        </i>
    </h4>
    <p class="card-text">{{proyecto.descripcion}}</p>
    <p class=" card-text">{{proyecto.url}}</p>
  </div>