<div class="formulario">
    <div class="card border-success mb-3" style="max-width: 20rem;">
        <div class="card-header">Formulario alta</div>
        <form class="add-form" (ngSubmit)="onSubmit()">
            <div class="form-control"style="background-color: grey;">
            <div class="form-group">   
            <label form="text">Nombre</label>
            <input 
            type="text" 
            name="nombre" 
            id="nombre" 
            placeholder="Add nombre"
            [(ngModel)]="nombre"
             />
         </div>
         <div class="form-group">
            <label form="text">Porcentaje</label>
            <input 
            type="number" 
            name="porcentaje" 
            id="porcentaje" 
            placeholder="Add porcentaje"
            [(ngModel)]="porcentaje"
         />
         </div>
            <input type="submit" value="Save Skill"class="btn btn-outline-success" style="margin-top: 10px;">
            </div>
        </form>
    </div>
</div>   