<div class="card border-info mb-3" style="max-width: 75rem; margin-left: 60px;">
    <div class="card-header">Proyectos
      <app-botones color="grey" ></app-botones>
    </div>
    <div class="card-body">
      <h4 class="card-title">Proyecto
        <i  class="material-symbols-outlined" style="margin-left: 43%; color: orange ;">
          edit
          </i>
          <i class="material-symbols-outlined" style="float: right;margin-right: 50px; color: red;">
          close
          </i>
      </h4>
      <p class="card-text">descripcion</p>
    </div>
  </div>